@import './assets/styles/global.css';
@import './assets/styles/Login.css';
@import './assets/styles/Register.css';
@import './assets/styles/Navbar.css';
@import './assets/styles/Sidebar.css';
@import './assets/styles/Dashboard.css';
@import './assets/styles/Profile.css';
@import './assets/styles/Footer.css';
@import './assets/styles/StudentDataUpload.css';
